* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #333333;
    background-image: url(../img/iAq7chz5_4x.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: 0;
    background: none;
}
.main, .test, .videos {
    background-color: #e0e6cb;
    height: 80%;
    width: 80%;
    border-radius: 30px;
    border: 3px solid #3d7c4d;
}
.main{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}
.main-stage {
    margin: 0;
    width: 100%;
    height: 100%;
}
.main--5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main-game, .main-game--2, .main-game--3 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.main-game-corner {
    background-color: #a9d5b2;
    border: 2px solid #333333;
    border-radius: 15px;
    height: 80%;
    width: 70%;
    padding: 15px;
}
.main-game-corner__desc {
    color: #333333;
    font-size: 18px;
}
.main-game-nextbut, .main-inter-showbut {
    margin: 0 35%;
    /* max-width: 315px; */
    padding: 20px 100px;
    text-align: center;
    background-color: #3d7c4d;
    border-radius: 20px;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 68px 3px rgba(10,157,91,0.76);
}
.main-game-nextbut:hover, .main-inter-showbut:hover {
    background-color: #a9d5b2;
    transition: all 0.6s ease;
    color: #333333;
    box-shadow: 0px 0px 0px 0px rgba(10,157,91,0.76);
}
.main-game-nextbut__content, .main-inter-showbut__content {
    color: #e0e6cb;
    transition: all 0.6s ease;
}
.main-game-nextbut:hover .main-game-nextbut__content, .main-inter-showbut:hover .main-inter-showbut__content {
    color: #333333;
    transition: all 0.6s ease;
}
.main-inter {
    height: 100%;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main-inter__title {
    text-align: center;
}
.main-inter-game {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between;
    align-items: center; */
}
.main-inter-game-can {
    width: 220px;
    height: 220px;
    background-color: #D3D3D3;
    border-radius: 15px;
    padding: 5px 15px;
    transition: all 0.6s ease;
}
.can--right {
    background-color: #3d7c4d;
}
.main-inter-game-can:not(:last-child) {
    margin-right: 100px;
}
.main-inter-game-can__desc {
    text-align: center;
}
.main-inter-objects {
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-inter-objects--disabled {
    display: none;
}
.main-inter-objects--hidden {
    opacity: 0;
    transition: all 0.6s ease;
}
.main-inter-objects__obgect {
    /* max-width: 100px; */
    max-height: 100px;
    margin-left: 10px;
    -moz-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
 -webkit-user-drag: none;
 user-drag: none;
 -webkit-touch-callout: none;
}
.main-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
}
.main-links-totest, .main-links-tovideos {
    cursor: pointer;
    font-size: 20px;
    background-color: #333333;
    color: #e0e6cb;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    transition: all 0.6s ease;
    
}
.main-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}
.main-links-totest, .main-links-tovideos {
    cursor: pointer;
    transition: all 0.6s ease;
}
.main-links-totest:hover, .main-links-tovideos:hover {
    background-color: #3d7c4d;
    box-shadow: 0px 0px 30px 0px rgba(45,255,196,0.45);
    transition: all 0.6s ease;
}
.main-links-totest__desc, .main-links-tovideos__desc {
    font-size: 24px;
    
}
.main-links-tovideos__desc, .main-links-totest__desc {
    line-height: 1;
    margin: 0;
}
.main-inter-showbut--3 {
    transform: translateX(60px);
}
.main-inter--2, .main-inter--3 {
    height: 100%;
}
.main-inter--2-flex, .main-inter--3-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}
.main-inter--2-objects--object, .main-inter--3-objects--object {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 500px;
}
.object2__img, .object3__img {
    max-width: 500px;
    border-radius: 15px;
}
.main-inter--2-button, .main-inter--3-button {
    background-color: #333333;
    color: #D3D3D3;
    padding: 20px;
    text-align: center;
    max-width: 350px;
    font-size: 26px;
    border-radius: 15px;
    margin: 0 30px;
    transition: all ease 0.6s;
}
.main-inter--2-button:hover, .main-inter--3-button:hover {
    box-shadow: 0px 0px 49px 10px rgba(51,51,51,0.9);
}
.main-inter--2-button--right {
    background-color: #3d7c4d;
}
.main-inter--2-button--wrong {
    background-color: #a30000;
}
.main-inter--2-button--wrong:hover {
    background-color: #a30000;
}
.main-4__title {
    text-align: center;
    max-width: 700px;
}
.start {
    height: 50%;
    width: 60%;
    padding: 80px;
}
.start__title {
    color: #e0e6cb;
    text-align: center;
    font-size: 82px;
    letter-spacing: 5px;
    text-shadow: 
		-0   -1px 2px #3d7c4d,
		0   -1px 2px #3d7c4d,
		-0    1px 2px #3d7c4d,
		0    1px 2px #3d7c4d,
		-1px -0   2px #3d7c4d,
		1px -0   2px #3d7c4d,
		-1px  0   2px #3d7c4d,
		1px  0   2px #3d7c4d,
		-1px -1px 2px #3d7c4d,
		1px -1px 2px #3d7c4d,
		-1px  1px 2px #3d7c4d,
		1px  1px 2px #3d7c4d,
		-1px -1px 2px #3d7c4d,
		1px -1px 2px #3d7c4d,
		-1px  1px 2px #3d7c4d,
		1px  1px 2px #3d7c4d
}
.start-button {
    margin: 0 35%;
    padding: 20px 100px;
    text-align: center;
    background-color: #3d7c4d;
    border-radius: 20px;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 68px 3px rgba(10,157,91,0.76);
}
.start-button:hover {
    background-color: #a9d5b2;
    transition: all 0.6s ease;
    color: #333333;
    box-shadow: 0px 0px 0px 0px rgba(10,157,91,0.76);
}
.start-button:hover .start-button__content {
    color: #333333;
    transition: all 0.6s ease;
}
.start-button__content {
    color: #e0e6cb;
    transition: all 0.6s ease;
}
.exit {
    height: 70px;
    width: 70px;
    position: absolute;
    top: 15px;
    right: 35px;
    background-color: #333333;
    transition: all 0.6s ease;
    cursor: pointer;
    box-shadow: 0px 0px 66px 19px rgba(51,51,51,0.45);
}
.exit:hover {
    background-color: #3d7c4d;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 66px 19px rgba(45,255,196,0.45);
}
.exit--left {
    width: 70px;
    height: 3px;
    border-radius: 15px;
    background-color: #e0e6cb;
    transform: rotate(45deg);
    margin-top: 33px;
}
.exit--right {
    width: 70px;
    height: 3px;
    border-radius: 15px;
    background-color: #e0e6cb;
    transform: rotate(135deg);
    margin-top: -3px;
}
.test-start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 40px;
}
.test-start__title {
    font-size: 44px;
    margin: 0 20%;
    text-align: center;
}
.test-start-button {
    margin: 0 35%;
    padding: 20px 100px;
    text-align: center;
    background-color: #3d7c4d;
    border-radius: 20px;
    transition: all 0.6s ease;
    box-shadow: 0px 0px 68px 3px rgba(10,157,91,0.76);
}
.test-start-button:hover {
    background-color: #a9d5b2;
    transition: all 0.6s ease;
    color: #333333;
    box-shadow: 0px 0px 0px 0px rgba(10,157,91,0.76);
}
.test-start-button__content {
    color: #e0e6cb;
    transition: all 0.6s ease;
}
.test-start-button:hover .test-start-button__content {
    color: #333333;
    transition: all 0.6s ease;
}
.test-start-return {
    display: flex;
    flex-direction: row;
}
.test-start-return--main, .test-start-return--videos {
    font-size: 24px;
    cursor: pointer;
}
.test-start-return--main {
    margin-right: 50px;
}
.videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.videos-video {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 30px;
}
.videos-video__desc {
    font-size: 18px;
    text-align: center;
}
#video--1, #video--2 {
    width: 35vw;
    height: 20vw;
    border-radius: 15px;
}
.videos-return, .test-start-return {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
    width: 100%;
}
.videos-return--main, .test-start-return--main, .test-start-return--videos, .videos-return--videos {
    cursor: pointer;
    font-size: 20px;
    background-color: #333333;
    color: #e0e6cb;
    padding: 10px;
    border-radius: 20px;
    width: 130px;
    text-align: center;
    transition: all 0.6s ease;
}
.videos-return--main:hover, .test-start-return--main:hover, .test-start-return--videos:hover, .videos-return--videos:hover {
    background-color: #3d7c4d;
    box-shadow: 0px 0px 30px 0px rgba(45,255,196,0.45);
    transition: all 0.6s ease;
}
@media(max-width: 1585px) {
    .main-game-corner__desc {
        font-size: 16px;
    }
}
@media(max-width: 1439px) {
    .main-game-corner__desc {
        font-size: 12px;
    }
}
@media(max-width: 1424px) {
    .main-inter-objects__obgect {
        max-height: 60px;
    }
    .object2__img, .object3__img {
        max-width: 250px;
    }
    .main-inter-showbut {
        transform: translateY(-50px);
    }
    .main-inter--2-objects--object, .main-inter--3-objects--object {
        max-width: 300px;
        font-size: 18px;
    }
    .main-inter--2-button, .main-inter--3-button {
        padding: 10px 0;
        width: 185px;
    }
    .main-inter-showbut {
        padding: 10px;
        margin-left: 45%;
    }
    .main-links-totest__desc, .main-links-tovideos__desc {
        font-size: 15px;
    }
    button span {
        font-size: 15px;
        
    }
    .main-inter-game-can {
        width: 150px;
        height: 150px;
    }
    .main-inter-showbut--3 {
        margin-left: 42%;
    }
}